# Sphinx build
docs/_build/

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.env/

# ignore Python virtual environments
environment1/


# ignore all build artifacts
docs/_build/
# except our html site
!docs/_build/html/
!docs/_build/html/**



